*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f5f7fa;
    color:#333;
}

header{
    background:#0d47a1;
    color:white;
    padding:18px 8%;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:28px;
    font-weight:bold;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

nav a:hover{
    color:#ffd54f;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
    padding:50px 0;
}

.card{
    background:white;
    padding:25px;
    border-radius:12px;
    margin:20px 0;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

footer{
    background:#0d47a1;
    color:white;
    text-align:center;
    padding:20px;
}
.hero{
    background:linear-gradient(135deg,#0d47a1,#1976d2);
    color:white;
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:48px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    padding:14px 28px;
    background:#ff9800;
    color:white;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
}

.btn:hover{
    background:#f57c00;
}
